.demo-video-section {
    background: #10002bf2;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .section-description {
    /* font-size: 1.1rem; */
    color: hsla(0, 0%, 100%, 0.699);
    margin-top: -50px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
  }
  
  .demo-video {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  