  
  /* Contact Section */
  .contact {
    background: rgba(16, 0, 43, 0.95);
    padding: 5rem 0;
    color: var(--white);
  }

  .contact-info p{
    color: white;
  }
  
  .contact-form input,
  .contact-form textarea {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(157, 78, 221, 0.2);
    color: var(--white);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: var(--primary-light);
    box-shadow: 0 0 0 2px rgba(157, 78, 221, 0.2);
    outline: none;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7); /* White with slight transparency for better readability */
  }
